<div class="index">
    <div class="welcome container">
        <div class="form-inline">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="welcome-header">
                        <h4>
                            WBBvNext
                        </h4>
                        <div>
                            <p>A completely decoupled plug-in development framework based on the transformation of the <code>WTM</code> project</p>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-lg-6">
                    <div class="welcome-header">
                        <h4>
                            &nbsp;
                        </h4>
                        <p>WTM is a rapid development framework</p>

                        <p>
                            —— Github：<a href="https://github.com/dotnetcore/WTM" target="_blank" type="primary">https://github.com/dotnetcore/WTM</a>
                        </p>
                        <p>
                            —— Docs：<a href="https://wtmdoc.walkingtec.cn" target="_blank" type="primary">https://wtmdoc.walkingtec.cn</a>
                        </p>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@code {


}
